/* styles.css */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* css modulare */
@import "./assets/css/reset.css";
@import "./assets/css/variables.css";
@import "./assets/css/header.css";
@import "./assets/css/hero-section.css";
@import "./assets/css/projects.css";
@import "./assets/css/about.css"


